{% extends 'layout/basic.html' %}
{% load static %}


{% block content %}
<h1 class="top_category">Доставка</h1>
<p>
<ol>
    <li class="delivery_text">
        Бесплатно до пункта выдачи/постамата (СДЭК, Почта России) при заказе от 10 000 рублей

    </li>
    <li class="delivery_text">
        Доставка до пункта выдачи заказов или постаматов СДЭК в Вашем городе
        Доставка курьером до двери (СДЭК, DHL)
        Доставка Почтой России
    </li>
    <li class="delivery_text">
        Расчет стоимости доставки Вашего заказа производится автоматически на этапе оформления заказа, зависит от пункта
        назначения и веса.
    </li>
    <li class="delivery_text">
        ВАЖНО! Все заказы отправляются только по 100% предоплате. Отправление осуществляется на следующий день после
        оплаты,
        исключая выходные и праздничные дни (если иное не указано в примечании к товару).
        Электронная почта: loopmarket@mail.ru
    </li>
        <li class="delivery_text">
        Электронная почта: dima_protasevich92@mail.ru
    </li>
</ol>
</p>

{% endblock %}